/*
* CSS for Inkscape Website (http://www.inkscape.org/)
*
* By: Tom von Schwerdtner | Etria LLP (http://www.etria.com/)
*
*/

body {
    color: #000000;
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    font-family: arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana, Sans-Serif;
    font-size: 80%;
}

a:link, a:visited, a:hover {
    font-weight: bold;
    color: #0081ac;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #ac0011;
}

div.top {
    background:#0081ac;
    width: 100%;
    height: 100px;
    border-bottom: 1px black solid;
}

div.top a.logo,
div.top a.logo:link,
div.top a.logo:hover,
div.top a.logo:visited
 {
     color: #ffffff;
     background: transparent;
     border: none;
     text-decoration: none;
}   

div.top h1 {
    color: #ffffff;
    background: transparent;
    font-size: 40px;
    font-family: arial;
    margin: 0px;
    padding: 20px;
    float: left;
}

img.logo {
    float: right;
    border: none;
}

#menu {
    float: left;
    border: 1px #999999 solid;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#menu li.sub {
    color: #000000;
    background: #d6d6d6;
    font-weight: bold;
    padding: 0px;
}

#menu .title {
    padding: 4px;
    text-align: center;
}

#menu ul.sub {
    padding: 0px;
    margin: 0px;
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;
    list-style: none;
}

#menu li a {
    display: block;
    background: #f0f0f0;
    color: #0081ac;
    border-top: 1px #d6d6d6 solid;
    border-bottom: 1px #d6d6d6 solid;
    margin: 0px;
    padding: 4px;
    padding-left: 10px;
    width: 100%;
}
#menu li a:visited {
    color: #0081ac;
}

html>body #menu li a {
    width: auto;
}

#menu li.item a:hover, ul.sub li.item a:hover {
    display: block;
    background: #ac0011;
    /*background: #DC878F;*/
    color: #ffffff;
    border-top: 1px #6F000B solid;
    border-bottom: 1px #6F000B solid;
    text-decoration: none;
}

#sourceforge {
    text-align: center;
    border: none;
}

html>body #sourceforge {
    width: auto;
}

div.content {
    padding: 20px;

    /* this is a hack */
    margin-left: 160px;
    margin-right: 20px;
}


#skipnav {
    display: none;
}

#togglecss {
    position: absolute;
    top: 110px;
    right: 10px;
}

div.news {
}

div.news div.item {
}

div.news div.item img {
    margin: 10px;
}

div.news div.item img.right {
    float: right;
    margin-right: 0px;
}

div.news div.item img.left {
    float: left;
    margin-left: 0px;
}

img.thumb {
    border: 1px #999999 solid;
}

div.news div.item h3 {
   font-weight: bold;
   border-left: 10px #999999 solid; 
   padding-left: 4px;
   margin-bottom: 4px;
   
   clear: right;
}

div.news div.item p {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    text-align: justify;
}

h2 {
    border-bottom: 1px #000000 solid;
    clear: right;
}

pre {
    border: 1px #006F02 solid;
    background: #B0E4AE;
    padding: 4px;
}


/* File Releases */

div.rss-files {
}

div.rss-files div.file {
    background: #f0f0f0;
    color: #000000;
    border: 1px #999999 solid;
    padding: 2px;
    margin: 20px;
}

div.rss-files div.file div.title {
    font-weight: bold;
    padding: 4px;
    padding-top: 2px;
}
div.rss-files div.file div.description {
    font-weight: normal;
    border: 1px #999999 solid;
    background: #ffffff;
    color: #000000;
    padding: 4px;
}

#footer {
    text-align: center;
    width: 100%;
    border-top: 1px #000000 solid;
    border-bottom: 1px #000000 solid;
    padding-top: 4px;
    padding-bottom: 4px;
    background:#0081AC;
    color: #ffffff;
    clear: both;
}

#footer img {
    border: none;
}

#footer a {
    color: white;
}
/* We are overriding some earlier styles here, so this needs to be at the end
 */
/*
a.external:link,
a.external:visited,
a.external:hover,
#menu li a.external,
#menu li a.external:hover
{
    background-image: url('/images/globe.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 18px;
}
*/

/* Doxygen Specific */

div.doxygen {
}

div.doxygen pre {
    background: #F8F8C6;
    background: #fffff0;
    color: #000000;
    border: 1px #808000 solid;
}

div.doxygen pre a:hover {
}

div.doxygen pre .preprocessor {
    font-weight: bold;
    color: #006809;
}

div.doxygen pre .keyword {
    color: #68005F;
}

div.doxygen pre .keywordflow {
    color: #120053;
    font-weight: bold;
}

div.doxygen pre .keywordtype {
    font-weight: bold;
    color: #495300;
}

div.doxygen pre .comment {
    font-style: italic;
    font-weight: bold;
}




table {

    margin-left:            auto;
    margin-right:           auto;
    width:                  100%;
        
    clear:                  none;

    border-collapse:        collapse;
    
    
    background:             none;


/*    font-family: Arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana, Sans-Serif; */
    font-size: 13px;

}

td {
    padding:                8px;
    vertical-align:         top;
}


table.roadmap {
    background:             #eee;
}

table.roadmap td {

    border:                 1px solid #999;
    /* width:                  50%; */


}

tr.header {
    font-weight:            bold;
    background:             #ddd;
}

td.title {
    text-align:             center;
    font-size:              16px;
    font-weight:            bold;
    background:             #ddd;
}



img.float {
    float:                  right;

    margin-top:             7px;
    margin-left:            10px;
    /* margin-right:           10px; */
    margin-bottom:          10px;
}



/*@import: url(wiki.css)*/



/* FORM STUFF */

SELECT, option, textarea, input  {

    color:                  #000000; 
    font-size:              10px; 
    text-decoration:        none; 
    background:             white; 
    border:                 1px solid #666666;
    
    margin:                 2px 0px 2px 0;
    padding:                2px;

}

/* now make them all have nice hovers */



SELECT:hover, option:hover, textarea:hover, input:hover {
    background:             #ddd; 
}


form.search {
    /*display:                inline;
    background:             #f0f0f0;
    */
    
    text-align:             center;
        
    display:                block;
    background:             #f0f0f0;
    color:                  #0081ac;
    border-top:             1px #d6d6d6 solid;
    border-bottom:          1px #d6d6d6 solid;
    margin:                 0px;
    padding:                4px;
    padding-left:           10px;
  
    
}

form.search:hover {
    background:             #ac0011;
}



#post_news input
{
    width:      35%;
}

#post_news textarea
{
    width:	100%;
    height:	150px;
}

input#login,
#post_news input#preview,
#post_news input#save,
#post_news input#reset
{
    width:      100px;
}


#post_news table
{
    padding:    0;
}

#post_news td
{
    padding-left:    0;
}
#post_news table tr td.header
{
    width:          10%; 
    font-weight:    bold;
}

.alert
{
    color:          red;
}


div.alert
{
    border:         1px solid red;
    padding:        8px;
}

.preview,
.message
{
    border:         1px solid #ccc;
    padding:        8px;
}


#navbar
{
    padding:        8px;
    background:     #ccc;
}

#navbar a 
{
    padding-right:  12px;
}
