@import url(base.css);

/*
All images:
Copyright 2003 - Swartz & Bivens, P.L.L.C.
*/

html, body {width: 100%; height: 100% !important; font-size: 1em;}
body {margin: 0; padding: 0; font: 1em Verdana, Arial, Helvetica, sans-serif; position: relative;}

#header {margin: 0; padding: 0 0 0.75em 0; border-bottom: 1px solid;
  border-left: 1.5em solid;}
#header h1 {margin: 0; padding: 0.75em 0.5em 0 0; font-size: 1.5em;
 font-family: Verdana, sans-serif; line-height: 0.8em; letter-spacing: -0.13em;}

#main {padding: 0.6em 0 5em 25px; margin-right: 21%;}
#main h2, #main h3, #main h4, #main h5, #main h6 {line-height: 0.8em; margin: 1em 0 0; 
 border-bottom: 1px solid; }


#main p, #main ul, #main ol, #main dl {margin-right: 6%;}


p.desc {margin: 0.5em 0 1em 95px;}
a.pic {float: left; margin: -21px 0 0.5em; width: 80px;}
a.hlinks {text-decoration: none; border-bottom: 0.25em solid;}

#nav {position: absolute; right: 0%; top: 3.2em; width: 20%; max-width: 200px;
  padding: 0; margin: 0 0 0 1px;
  font-family: Arial, sans-serif;
  border-style: solid;
  background-color: #4682B4;
  border-width: 1px 2px 2px 1px;
}
#nav h4 {margin: 0; padding: 0.25em 0.5em 1px 0.25em;
  font-size: 0.9em; font-style: italic; line-height: 0.7em;
  letter-spacing: 1px; text-transform: lowercase;
  border-style: dotted; border-width: 0px 0 1px 2px;}
#nav ul {margin: 0 0 1.5em 0; padding: 0.25em 0 0.5em 0;
   list-style: none; font-size: 85%;}
#nav ul li {padding: 0.15em 0 0.1em 0.5em;}
#nav ul ul {padding: 0 0 0 1em; margin: 0; border-left: none; font-size: 90%; font-style: italic;}
#nav ul ul li {padding-top: 1px; text-indent: -0.5em;}
#nav ul li em {font-weight: bold; padding: 0; margin: 0; border-bottom: 1px dotted red; width: .5em; }
#nav ul ul em {font-weight: bold; padding: 0; margin: 0; border-bottom: 1px dotted red; width: .5em; }
#nav ul ul li em {font-weight: bold; padding: 0; margin: 0; border-bottom: 1px dotted red; width: .5em; }
#nav #select {font-weight: bold; font-style: italic; letter-spacing: 1px; text-transform: lowercase;
    border-style: dotted; border-width: 1px 3px 1px 2px; border-right: none; margin-left: -1px;}

#style li.sub:hover {margin-left: -10.2em; border: 1px solid gray; background: #DDB;}
#style li.sub:hover > a {color: #330;}
#style li.sub:hover > ul {top: 1.75em; left: -1px; background: #FEFEFC;}

#style {position: absolute; right: 0%; top: 1.0em; 
  padding: 0; margin: 0;
  font-family: Arial, sans-serif;}
#style h4 {margin: 0; padding: 0.25em 0.5em 1px 0.25em;
  font-size: 0.9em; font-style: italic; line-height: 0.7em;
  letter-spacing: 1px; text-transform: lowercase;
  border-style: solid solid dotted; border-width: 1px 0 1px 2px;}
#style #sandb1 {font-weight: bold; font-style: italic; letter-spacing: 1px; text-transform: lowercase;
  border: 1px dotted; border-top: none; margin-left: -1px;}

#style li.sub:hover {margin-left: -10.2em; border: 1px solid gray; background: #DDB;}
#style li.sub:hover > a {color: #330;}
#style li.sub:hover > ul {top: 1.75em; left: -1px; background: #FEFEFC;}

#footer {border-top: 2.5px double; margin: 0; padding: 0.25em; text-align: left; font-size: 75%;}
#footer p {margin: 0; padding: 0; text-align: center}
#footer img, #nav img {padding:0; margin: 0; border:0;  vertical-align: middle; }

img {border:0;}

/* home styles */

body.home #main {padding-left: 120px;}
body.home #main img.pic {position: absolute; left: -1em; top: 6.25em; z-index: 100;}


/* colors and backgrounds */

body {background: #FFFFFF url(bigsbbg.gif) no-repeat fixed center;
  color: #42384C;}

#header, #nav ul, #nav #sandb1, #footer {border-color: #738CA6;}
#main h2, #main h2 a {border-color: #414066;}
#thoughts * {border-color: #5B5980;}

#main a:link {color: #006691;}
#main a:hover {color: #006691; background-color: #ddeeff;}

#header {background: #BAC5D1;}
#header h1 {background: #738CA6;}
#header h1 a {color: #343366;}

#main h2 a {color: #00294C;}

#nav {background: #BCCAE0;}
#nav h4 {border-color: #667F99; color: #343366; background: #B2BFD9;}
#nav ul {background: none;}
#nav ul ul {background: none;}

#navlinks a:link {color: #4C6580;}
#navlinks a:visited, #stylelinks a {color: #818099;}
#nav a:hover {color: #334180;}
#style #sandb1 {background: #C7D4E6;}
#style #sandb1 a {color: #4D4C66;}

#style a {font-size: 70%; background: transparent; color: #FFFFFF}
#style a:hover {font-size:70%; background: transparent; color: #683399}
#style a:visited {font-size:70%; background: transparent; color: #FFFFFF}
#style a span {display: none;}
#style a:hover span {display: block; position: absolute; bottom: 2px; left: 0; width: 265px; padding: 1px; margin: 1px; z-index: 100; color: #ffffff; background: #000066; font: 10px Verdana, sans-serif; text-align: center;}

.sField { border-width:1px; border-style:solid; border-color:#ffffff; background-color:#333399;font-family: Arial, Helvetica, sans-serif;color: #ffffff;  margin: 0;  padding: 0;    }
.sButton { border-width:1px; border-style:solid; border-color:#ffffff; background-color:#333399;font-family: Arial, Helvetica, sans-serif;color: #ffffff;  margin: 0;  padding: 0;  }
.eField { border-width:1px; border-style:solid; border-color:#6495ED; background-color:#F0F8FF;font-family: Arial, Helvetica, sans-serif;color: #000000;  }
.eButton { border-width:1px; border-style:solid; border-color:#6495ED; background-color:#F0F8FF;font-family: Arial, Helvetica, sans-serif;color: #000000;}
.mid { vertical-align: middle; }
.line { color: #6495ED; border-top: 3px solid #6495ED; border-bottom: 2px solid #000080; height: 5px;  border-left: none;    }

input { font: 60% verdana,sans-serif; vertical-align: middle; }
.sField:hover, .sField:focus { background-color: #336699 }
.sButton:hover, .sButton:focus { background-color: #336699 }
.eField:hover, .eField:focus { background-color: #DFEFFF}
.eButton:hover, .eButton:focus { background-color: #DFEFFF }

#bt {position: absolute; right: 0%;  margin-right: 24%;}

#gl { text-align: center; vertical-align: middle;  margin: 0;  padding: 0; }


#footer {color: #343366; background: #BAC5D1;}


a:visited {color: #4C6580; background: transparent;}

#navlinks li a:hover:after, #navlinks li a:focus:after {content: " [" attr(accesskey) "] ";}

acronym {border-bottom: 1px dashed #0063CC; cursor: help;}



/* fix IE6 rendering bugs */

#header h1 {position: relative;}
#header>h1 {position: static;}

html>body #main p, html>body #main h3, html>body #main dt, html>body #main ul, html>body #main li, html>body #main ol {background: url(bigsbbg2.gif) no-repeat fixed center;}
