/* recover from old-browser styling */

*.oldbl {display: block !important;}
*.oldin {display: inline !important;}
*.ahem {display: none !important;}
img.pic {display: block !important;}

/* NS6.x-specific fix(es) */

/*|*:-moz-list-bullet, *|*:-moz-list-number {font-size: 1em;}/

/* misc */

.skipper {display: none !important;}

* {font-size: 100%;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.33em;}
h4 {font-size: 1.1em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.75em;}
pre, code, tt {font: 95% "Andale Mono", Courier, "Courier New", monospace;}

img.pic {float: right; margin: 0.25em 0 0.66em 1.5em;}
img.border {border: 3px double;}

p.contact {margin: 0 1em !important; text-align: right; font-size: 90%;}

#main {min-height: 30em;}
#header h1 a, #nav a {text-decoration: none;}
#nav {padding-top: 0.75em;}
