Source: inkscape
Section: graphics
Priority: optional
Maintainer: Nathan Hurst (njh) <njh@mail.csse.monash.edu.au>
Build-Depends: debhelper (>= 4.0.0), intltool, libart-2.0-dev (>= 2.3.10), libgc-dev (>= 1:6.5-1), libglib2.0-dev, libgnomevfs2-dev, libgtk2.0-dev (>= 2.0.6-1), libglibmm-2.4-dev (>> 2.6.1-1), libgtkmm-2.4-dev (>> 2.4.11-2), libgtkspell-dev (>= 2.0.10-3), libpango1.0-dev, libpng12-dev, libpopt-dev, libsigc++-2.0-dev (>= 2.0.10-3), libtool, libxml-parser-perl, libxml2-dev (>= 2.6.0), libxslt1-dev, pkg-config, zlib1g-dev liblcms1-dev
Standards-Version: 3.6.1

Package: inkscape
Architecture: any
Depends: ${shlibs:Depends}
Suggests: dia, libwmf-bin, pstoedit, sketch, libxml-xql-perl
Description: Vector based drawing program
 Inkscape loads and saves a subset of the SVG (Scalable Vector Graphics)
 format, a standard maintained by the WWW consortium.
 .
 Inkscape user interface should be familiar from CorelDraw and similar
 drawing programs. There are rectangles, ellipses, text items, bitmap
 images and freehand curves.
 As an added bonus both vector and bitmap objects can have alpha
 transparency and can be arbitrarily transformed.
 .
 Inkscape supports multiple opened files and multiple views per file.
 Graphics can be printed and exported to png bitmaps.
 .
 Homepage: http://www.inkscape.org/
 .
 If you wish to import postscript or pdf files, then you need pstoedit
 and sketch.
 dia is needed only if you wish to import Dia files.
 libwmf-bin is needed only if you wish to import Windows metafile
 (.wmf) files.
 libxml-xql-perl is needed only by the drop-shadow effect.
