
APPLICATION_ICON    ICON          DISCARDABLE     "../inkscape.ico"
1                   24            DISCARDABLE     "./inkview-manifest-x64.xml"

1 VERSIONINFO
    FILEVERSION     0,91,0,9
    PRODUCTVERSION  0,91,0,9
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040901b5"
        BEGIN
            VALUE "Comments", "Published under the GNU GPL"
            VALUE "CompanyName", "inkscape.org"
            VALUE "FileDescription", "Inkview"
            VALUE "FileVersion", "0.91+devel"
            VALUE "InternalName", "Inkview"
            VALUE "LegalCopyright", "© 2014 Inkscape"
            VALUE "ProductName", "Inkview"
            VALUE "ProductVersion", "0.91+devel"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 1033, 437
    END
END

1000		BITMAP	"./show-preview.bmp"
